Django
Django-REST-framework
psycopg2-binary
django-cors-headers
djangorestframework-simplejwt
apscheduler
whitenoise
gunicorn==20.1.0
django_apscheduler
requests
drf-spectacular>=0.28.0
redis[hiredis]>=6.4.0
python-dotenv
supabase
celery>=5.5.3
django-redis
openpyxl
django-background-tasks
flower
honcho
